/*
Author: Elsayed Fahmy
Author URI: http://www.shbtalk.com/
*/
/* ------------------Style--------------------- */

a{color: #474747;text-decoration: none;}
a:hover {color: #DA251D; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }


/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {margin-bottom: 50px;}
#content .wrap-content{margin-top: 30px;}

.gallery{ background: none; padding: 10px;}
.gallery h2{font-size: 18px; text-align: center; margin-top: 10px;}
